# Compiled class file
*.class

# Log file
*.log


# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*earlybird-core/target/**
*earlybird-web/target/**
*earlybird-fe/target/**
earlybird-core/target/classes/META-INF/maven/com.earlybird/earlybird-core/pom.properties
earlybird-web/target/classes/META-INF/maven/com.earlybird/earlybird-web/pom.properties
earlybird-fe/src/main/web/node_modules/**
earlybird-fe/src/main/web/dist/**

**/*pom.properties
**/*.project
**/*.settings
**/*pom.properties
**/*.classpath
**/*.factorypath
**/*.db
**/*.editorconfig
earlybird-web/early-bird-db.mv.db
**/*.db
**/.gradle/**
**/.vs/**
**/.vscode/**
